html, body {
    background: black;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
}

.header > img {
    height: 60px;
}

.game > canvas {
    display: block;
    margin: 0 auto;
}
