html, body {
    background-color: #000;

    margin: 0;
    padding: 0;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;

    background-image: url('./background.png');
    background-repeat: repeat;
}

.game canvas {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}
